@import "settings";
@import "foundation";


.b1{
    margin-top: 50px;   
}
.flower1{
    margin-top: 200px;
    display: none;
}

.flower2{
    margin-top: 200px;
    display: none;
}
.flower3{
    margin-top: 200px;
    display: none;
}
.flower4{
    margin-top: 200px;
    display: none;
}

.butterfly{
    position: absolute;
    display: none;
}